* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #4B4B4B;
}

.fl_l {
  float: left;
}

.fl_r {
  float: right;
}

.clear {
  clear: both;
}

.avatar {
  margin: 10px 0 0 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: green;
  float: left;
  cursor: pointer;
}

/* background */

.background_head {
  background: #009688;
  height: 13vh;
  width: 100vw;
}

.background_body {
  background: #D8DBD6;
  height: 87vh;
  width: 100vw;
}

/* container */

.container {
  font-family: 'Hind', sans-serif;
  max-width: 1400px;
  width: 1400px;
  max-height: 100vh;
  height: 1300px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
}

/* home */

.home {
  width: 70%;
  height: 97%;
  background: #F7F9FA;
  border-radius: 0 5px 0 0;
  border-bottom: 1px solid lightgrey;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home img{
  margin: 150px 0 50px;
}

.home-header{
  font-size: 35px;
  color: #4B4B4B;
  opacity: 0.9;
  font-weight: lighter;
  line-height: 35px;
  margin-bottom: 25px;
}

.home-main{
  opacity: 0.6;
  font-size: 15px;
  line-height: 20px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 35px;
}

.home-footer{
  opacity: 0.6;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 120px;
}

.home-footer a{
  color:green;
  text-decoration: none;
  font-weight: 500;
}

/* header */

.header_left, .header_right {
  box-shadow: 1px 1px 2px 1px grey;
  width: 100%;
  height: 6%;
  background: #EEEEEE;
}

.header_left {
  border-radius: 5px 0 0 0;
  width: 30%;
  border-right: 1px solid lightgrey;
}

.header_right {
  border-radius: 0 5px 0 0;
  width: 70%;
  border-bottom: 1px solid lightgrey;
  display: none;
}

.header_left i, .header_right i {
  margin: 0 20px;
  line-height: 60px;
  font-size: 18px;
  color: #989B9D;
  float: right;
  cursor: pointer;
}

.header_right span {
  float: left;
  line-height: 60px;
  margin-left: 20px;
  cursor: pointer;
}

/* main */

.main_left {
  overflow: auto;
  background: white;
  height: 91%;
  width: 30%;
  border-radius: 0 0 0 5px;
  box-shadow: 0 1px 1px -5px grey, 0 0.5px 0.5px 0.5px #989B9D;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: lightgrey;
}

/* search */

.main_left_search {
  z-index: 1;
  position: fixed;
  background: #FBFBFB;
  height: 55px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_left_search i {
  font-size: 13px;
  color: #989B9D;
  opacity: 0.5;
  position: absolute;
  left: 30px;
  cursor: pointer;
}

#search_bar {
  background: white;
  width: 28%;
  height: 40px;
  font-family: 'Hind', sans-serif;
  outline: none;
  border: 0;
  border-radius: 5px;
  padding: 0 50px;
  font-size: 15px;
  border: 1px solid #F6F6F6;
}

.fa-search {
  z-index: 2;
}

#search_bar::placeholder {
  font-size: 13px;
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  opacity: 0.5;
}

/* chat */

.chat {
  width: 100%;
  background: #fff;
  cursor: pointer;
  position: relative;
}

.chat img {
  margin: 10px 20px 0 15px;
  width: 50px;
  height: 50px;
}

.chat:hover {
  background: #FBFBFB;
}

.chat:nth-child(2) {
  margin-top: 60px;
}

.data_messaggio {
  display: inline-block;
  font-size: 13px;
  opacity: 0.5;
  margin-right: 15px;
}

.nome_utente {
  padding-top: 15px;
  padding-left: 20px;
  line-height: 20px;
  font-weight: 500;
  font-size: 17px;
}

.preview_messaggio {
  opacity: 0.5;
  font-size: 14px;
  padding-bottom: 10px;
}

.chat_border {
  border-bottom: 1px solid #F6F6F6;
  width: 83%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/* main right */

.main_right {
  overflow: auto;
  position: relative;
  height: 85%;
  width: 70%;
  background-image: url(background.jpg);
  box-shadow: 0.2px 0.2px 0.5px #989B9D;
  display: none;
}

/* contact */

.message_contact, #message_contact_to_clone {
  margin-top: 15px;
  background: #fff;
  margin-left: 100px;
  border-radius: 0 8px 8px 8px;
  padding: 7px 45px 5px 7px;
  box-shadow: 1px 1px 1px 1px lightgrey;
  position: relative;
  max-width: 700px;
  word-wrap: break-word;
  display: none;
}

.time_contact {
  font-size: 12px;
  opacity: 0.5;
  display: inline-block;
  position: relative;
  left: 35px;
  top: 5px;
}

.delete_row {
  color: grey;
  font-size: 20px;
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 100;
  cursor: pointer;
}

.delete_menu {
  background: #fff;
  border-radius: 0 8px 8px 8px;
  box-shadow: 1px 1px 1px 1px lightgrey;
  cursor: pointer;
  font-size: 13px;
  z-index: 101;
  width: 180px;
  position: absolute;
  top: -5px;
  padding: 10px;
  left: -10px;
}

.delete_menu:hover, .delete_menu_user:hover {
  background: #FBFBFB;
}

/* user */

.message_user, #message_user_to_clone {
  margin-top: 15px;
  background: #DCF8C6;
  margin-right: 100px;
  border-radius: 8px 0 8px 8px;
  padding: 7px 45px 5px 7px;
  box-shadow: 1px 1px 1px 1px lightgrey;
  position: relative;
  max-width: 700px;
  display: none;
  word-wrap: break-word;
}

.delete_row_user {
  color: grey;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
}

.delete_menu_user {
  background: #fff;
  margin-left: 80px;
  border-radius: 0 8px 8px 8px;
  box-shadow: 1px 1px 1px 1px lightgrey;
  cursor: pointer;
  font-size: 13px;
  padding: 10px;
  width: 140px;
  position: absolute;
  right: -90px;
  top: 20px;
  z-index: 101;
}

.time_user {
  display: inline-block;
  font-size: 12px;
  opacity: 0.5;
  position: relative;
  top: 5px;
  left: 35px;
}

/* main footer */

.main_right_footer {
  border-radius: 0 0 5px 0;
  background: #F5F1EE;
  height: 6%;
  width: 70%;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5px 0.5px 0.5px #989B9D;
  display: none;
}

.main_right_footer i {
  margin: 0 20px;
  font-size: 22px;
  color: #989B9D;
  cursor: pointer;
}

#textarea {
  width: 100%;
  height: 70%;
  font-family: 'Hind', sans-serif;
  outline: none;
  border: 0;
  border-radius: 8px;
  padding: 0 25px;
  font-size: 18px;
}

#textarea::placeholder {
  font-size: 15px;
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  opacity: 0.5;
}

.fa-paper-plane {
  display: none;
}

/* menu modale */

.menu_modale {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  display: none;
  font-family: 'Hind', sans-serif;
}

.menu_modale_interno {
  width: 370px;
  height: 170px;
  background: white;
  margin: auto;
  border-radius: 5px;
  box-shadow: 10px 10px 50px grey;
}

.menu_modale_main {
  padding: 25px 0 0 25px;
  height: 100px;
  font-size: 20px;
}

.menu_modale_footer {
  text-align: right;
  padding: 5px 25px 0 0;
}

.menu_modale_footer button {
  padding: 12px 20px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
}

#btn-elimina {
  background: #0CB757;
  color: white;
}

#btn-chiudi {
  background: white;
  color: #0CB757;
}

#btn-elimina:hover {
  box-shadow: 2px 2px 10px grey;
  transition: .2s;
}

#btn-chiudi:hover {
  box-shadow: 2px 2px 10px grey;
  transition: .2s;
}

/* classi da attivare */

.chat.active {
  background: #E9EBEB;
}

.delete_message.active {
  display: inline-block;
}

.message_user.active, .message_contact.active, .main_right.active {
  display: inline-block;
}

.menu_modale.active {
  display: flex;
}
